@font-face {
    font-family: 'robotoMono';
    src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'robotoCondensed';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'robotoSlab';
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'VT323';
    src: url(../fonts/VT323/VT323-Regular.ttf);
}